<p>account works!</p>
<app-navbar></app-navbar>
<div class="container m-t-7">
    <div clas="row">
        <div class="col-12">
            <div class="card" style="margin: auto; max-width: 75%;">
                <div class="card-header">
                    <p class="py-0 display-4 text-center">Información de cuenta</p>
                </div>
                <div class="card-body px-3 pb-0">
                    <form [formGroup]="shape">
                        <div class="row">
                            <div class="col sm-12 md-6">
                                <div class="form-group">
                                    <label for="inputName" class="text-muted text-truncate">Nombres</label>
                                    <input type="text" formControlName="name" class="form-control" id="inputName">
                                </div>
                            </div>
                            <div class="col sm-6 md-6">
                                <div class="form-group">
                                    <label for="inputLastname" class="text-muted text-truncate">Apellidos</label>
                                    <input type="text" formControlName="lastname" class="form-control"
                                        id="inputLastname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col sm-12 md-6">
                                <div class="form-group">
                                    <label for="inputIdentificationNumber" class="text-muted text-truncate">No. de
                                        identificación</label>
                                    <input type="text" formControlName="identificationNumber" class="form-control"
                                        id="inputIdentificationNumber">
                                </div>
                            </div>
                            <div class="col sm-12 md-6">
                                <div class="form-group">
                                    <label for="inputCellPhoneNumber" class="text-muted text-truncate">Número de
                                        celular</label>
                                    <input type="text" formControlName="cellPhoneNumber" class="form-control"
                                        id="inputCellPhoneNumber">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="inputMail" class="text-muted text-truncate">Correo
                                        electrónico</label>
                                    <input type="mail" formControlName="mail" class="form-control" id="inputMail">
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="form-group mx-auto">
                                <input type="submit" class="btn mt-3 btn-raised btn-primary" value="Modificar datos"
                                    aria-pressed="true">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>