<app-navbar></app-navbar>

<p class="display-4 m-t-5 py-2 text-white section-title animated fadeIn fast">Acerca de</p>

<div class="container animated pulse slow">
    <div class="card">
        <h4 class="card-header">Plataforma de reportes - constrution phase</h4>
        <div class="card-body">
            <h4 class="card-title">Reportes de vehículos</h4>
            <p class="card-text text-muted">Plataforma de informes para usuarios nombrados "socios" por la Cooperativa
                Cooperativa. Se construye una solución para evitar enviar correos masivos por parte de la Cooperativa a
                sus asociados.</p>
            <p class="card-text text-muted">
                El módulo de informe presentará visualmente la información que el asociado requiere, como: número de
                pasajeros para un viaje, cantidad de millas para un viaje, número de pasajeros movilizados durante el
                día; etc.
            </p>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->