<app-navbar></app-navbar>

<p class="display-4 m-t-5 py-2 text-white section-title animated fadeIn fast">Acerca de</p>

<div class="container animated pulse slow">
    <div class="card">
        <h4 class="card-header">Plataforma de reportes - constrution phase</h4>
        <div class="card-body">
            <h4 class="card-title">Reportes de vehículos</h4>
            <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed earum et suscipit libero
                dicta, accusantium impedit possimus, ducimus sequi quidem, voluptatem repellendus in vitae aliquid
                fugiat sit voluptate non aperiam?</p>
            <p class="card-text text-muted">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed earum et suscipit libero dicta,
                accusantium impedit possimus, ducimus sequi quidem, voluptatem repellendus in vitae aliquid fugiat sit
                voluptate non aperiam?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque laudantium, voluptatibus nam aliquid
                illum suscipit nulla exercitationem? Voluptates nulla vitae sapiente ipsum nesciunt tempora. Iure earum
                molestias dicta fugit ipsum?
            </p>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->