<app-navbar></app-navbar>

<div class="container m-t-7 animated fadeIn fast">
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin: auto; max-width: 55%;">
                <div class="card-header">
                    <p class="py-0 display-4 text-center">Modificación de contraseña</p>
                </div>
                <div class="card-body px-3 pb-0">
                    <form [formGroup]="shapePasswords" (ngSubmit)="onSubmit()" class="py-3 px-5">
                        <div class="form-group">
                            <label for="inputCurrentPassword">Contraseña actual</label>
                            <div class="row">
                                <div class="col-11">
                                    <input [type]="currentPasswordType" formControlName="currentPasswordControl"
                                        class="form-control" #currentPassword id="inputCurrentPassword">
                                    <small
                                        *ngIf="shapePasswords.controls['currentPasswordControl'].dirty && shapePasswords.controls['currentPasswordControl'].errors?.required"
                                        class="form-text mt-1 text-danger animated fadeIn faster">* El
                                        campo <u>usuario</u> es requerido.</small>
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-secondary rounded" id="btnShowPassword"
                                        (click)="showPassword(currentPassword)" data-toggle="tooltip"
                                        data-placement="right" data-animation="true" title="Mostrar/Ocultar">
                                        <i class="material-icons">{{ iconTextCurrentPassword }}</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputNewPassword">Contraseña nueva</label>
                            <div class="row">
                                <div class="col-11">
                                    <input [type]="newPasswordType" formControlName="newPasswordControl"
                                        class="form-control" #newPassword id="inputNewPassword">
                                    <small
                                        *ngIf="shapePasswords.controls['newPasswordControl'].dirty && shapePasswords.controls['newPasswordControl'].errors?.required"
                                        class="form-text mt-1 text-danger animated fadeIn faster">* El
                                        campo <u>contraseña nueva</u> es requerido.</small>
                                    <small
                                        *ngIf="shapePasswords.controls['newPasswordControl'].dirty && shapePasswords.get('newConfirmPasswordControl').value != shapePasswords.get('newPasswordControl').value"
                                        class="form-text mt-1 text-danger animated fadeIn faster">* La contraseña debe
                                        de coincidir</small>
                                </div>
                                <div class="col-1">
                                    <span class="wrapper">
                                        <button type="button" class="btn btn-secondary rounded"
                                            (click)="showPassword(newPassword)" data-toggle="tooltip"
                                            data-container=".wrapper" data-placement="right" data-animation="true"
                                            title="Mostrar/Ocultar">
                                            <i class="material-icons">{{ iconTextNewPassword }}</i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputConfirmPassword">Confirmar contraseña nueva</label>
                            <div class="row">
                                <div class="col-11">
                                    <input [type]="confirmPasswordType" formControlName="newConfirmPasswordControl"
                                        class="form-control" id="inputConfirmPassword">
                                    <small
                                        *ngIf="shapePasswords.controls['newConfirmPasswordControl'].dirty && shapePasswords.controls['newConfirmPasswordControl'].errors?.required"
                                        class="form-text mt-1 text-danger animated fadeIn faster">* El
                                        campo <u>confirmar contraseña</u> es requerido.</small>
                                    <small
                                        *ngIf="shapePasswords.controls['newConfirmPasswordControl'].dirty && shapePasswords.get('newPasswordControl').value != shapePasswords.get('newConfirmPasswordControl').value"
                                        class="form-text mt-1 text-danger animated fadeIn faster">* La nueva contraseña
                                        que usted ha
                                        diligenciado no coincide.</small>
                                    <small
                                        *ngIf="showPasswordMessageMatch(shapePasswords.get('newPasswordControl').value, shapePasswords.get('newConfirmPasswordControl').value)"
                                        class="form-text mt-1 text-success animated fadeIn faster">Las
                                        dos contraseñas que has
                                        diligenciado
                                        coinciden.</small>
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-secondary rounded" #confirmPassword
                                        (click)="showPassword(confirmPassword)" data-toggle="tooltip"
                                        data-placement="right" data-animation="true" title="Mostrar/Ocultar">
                                        <i class="material-icons">{{ iconTextConfirmPassword }}</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="d-flex justify-content-center">
                                <input type="submit" value="Modificar contraseña"
                                    class="btn btn-outline-primary raised">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>