<app-navbar></app-navbar>

<div class="container m-t-7 animated fadeIn fast">
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin: auto; max-width: 55%;">
                <div class="card-header">
                    <p class="py-0 display-4 text-center">Modificación de contraseña</p>
                </div>
                <div class="card-body px-3 pb-0">
                    <form [formGroup]="" class="py-3 px-5">
                        <div class="form-group">
                            <label for="inputCurrentPassword">Contraseña actual</label>
                            <div class="row">
                                <div class="col-11">
                                    <input [type]="passwordType" class="form-control" id="inputCurrentPassword">
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-secondary rounded" (click)="showPassword()">
                                        <i class="material-icons">{{ iconText }}</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputNewPassword">Contraseña nueva</label>
                            <div class="row">
                                <div class="col-11">
                                    <input type="password" class="form-control" id="inputNewPassword">
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-secondary rounded">
                                        <i class="material-icons"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputConfirmPassword">Confirmar nueva contraseña</label>
                            <div class="row">
                                <div class="col-11">
                                    <input type="password" class="form-control" id="inputConfirmPassword">
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-secondary rounded">
                                        <i class="material-icons"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="mx-auto w-100">
                                <input type="submit" value="Modificar contraseña"
                                    class="btn btn-outline-warning raised">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>