<app-navbar></app-navbar>

<div class="card mx-auto w-50 card-info-out d-none" id="messageOutputRerefrence">
    <div class="card-header bg-primary">
        <h2 class="text-white">Hola, {{ name }}</h2>
    </div>
    <div class="card-body">
        <p class="lead">Debes de iniciar sesión, hágamos esto pronto...</p>
        <div class="">
            <div class="">
                <p class="" id="seconds">Inicia sesión en: <span id="seconds"></span> segundos</p>
            </div>
            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-outline-secondary">
                    Iniciar sesión ahora
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container m-t-7 animated fadeIn fast">
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin: auto; max-width: 55%;">
                <div class="card-header">
                    <p class="py-0 display-4 text-center">Modificación de contraseña</p>
                </div>

                <div class="card-body px-3 pb-0">
                    <form [formGroup]="shapePasswords" (ngSubmit)="onSubmit()" class="py-3 px-4">
                        <div class="row">
                            <div class="col-10">
                                <div class="form-group">
                                    <label for="inputCurrentPassword">Contraseña actual</label>

                                    <input [type]="currentPasswordType" formControlName="currentPasswordControl"
                                        class="form-control" #currentPassword id="inputCurrentPassword">
                                    <small
                                        *ngIf="shapePasswords.controls['currentPasswordControl'].dirty && shapePasswords.controls['currentPasswordControl'].errors?.required"
                                        class="form-text mt-1 text-danger animated fadeIn faster">* El
                                        campo <u>usuario</u> es requerido.</small>
                                </div>
                            </div>
                            <div class="col-1 mt-3 ml-4 p-0">
                                <div class="form-group">
                                    <button type="button" class="btn btn-secondary rounded" id="btnShowPassword"
                                        (click)="showPassword(currentPassword)" data-toggle="tooltip"
                                        data-placement="right" data-animation="true" title="Mostrar/Ocultar">
                                        <i class="material-icons">{{ iconTextCurrentPassword }}</i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-5">
                                <div class="form-group mx-0">
                                    <label for="inputNewPassword">Contraseña nueva</label>
                                    <input [type]="newPasswordType" formControlName="newPasswordControl"
                                        class="form-control" #newPassword id="inputNewPassword">
                                    <small
                                        *ngIf="shapePasswords.controls['newPasswordControl'].dirty && shapePasswords.controls['newPasswordControl'].errors?.required"
                                        class="form-text mt-1 text-danger animated fadeIn faster">*
                                        El
                                        campo <u>contraseña nueva</u> es requerido.</small>
                                    <small
                                        *ngIf="shapePasswords.controls['newPasswordControl'].dirty && shapePasswords.controls['newConfirmPasswordControl'].dirty && shapePasswords.get('newConfirmPasswordControl').value != shapePasswords.get('newPasswordControl').value"
                                        class="form-text mt-1 text-danger animated fadeIn faster">*
                                        La
                                        contraseña debe
                                        de coincidir</small>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group mx-0">
                                    <label for="inputConfirmPassword">Confirmar contraseña nueva</label>

                                    <input [type]="confirmPasswordType" formControlName="newConfirmPasswordControl"
                                        class="form-control" id="inputConfirmPassword">
                                    <small
                                        *ngIf="shapePasswords.controls['newConfirmPasswordControl'].dirty && shapePasswords.controls['newConfirmPasswordControl'].errors?.required"
                                        class="form-text mt-1 text-danger animated fadeIn faster">* El
                                        campo <u>confirmar contraseña</u> es requerido.</small>
                                    <small
                                        *ngIf="shapePasswords.controls['newConfirmPasswordControl'].dirty && shapePasswords.get('newPasswordControl').value != shapePasswords.get('newConfirmPasswordControl').value"
                                        class="form-text mt-1 text-danger animated fadeIn faster">* La nueva
                                        contraseña
                                        que usted ha
                                        diligenciado no coincide.</small>
                                    <small
                                        *ngIf="showPasswordMessageMatch(shapePasswords.get('newPasswordControl').value, shapePasswords.get('newConfirmPasswordControl').value)"
                                        class="form-text mt-1 text-success animated fadeIn faster">La
                                        contraseñas
                                        coinciden.</small>
                                </div>
                            </div>
                            <div class="col-1 mt-3 ml-4 p-0">
                                <span class="wrapper">
                                    <button type="button" class="btn btn-secondary rounded " #confirmPassword
                                        (click)="showPassword(confirmPassword)" data-toggle="tooltip"
                                        data-placement="right" data-animation="true" title="Mostrar/Ocultar">
                                        <i class="material-icons">{{ iconTextConfirmPassword }}</i>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <small *ngIf="shapePasswords.controls['newPasswordControl'].errors?.minlength"
                                class="form-text mt-1 text-muted animated fadeIn faster ml-3">Mínimo 6 carácteres para la contraseña que usted desee digitar.</small>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="d-flex justify-content-center">
                                        <input type="submit" value="Modificar contraseña"
                                            class="btn btn-outline-primary raised mt-3 mb-0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->