footer.page-footer {
    position: relative;
    width: 100%;
    bottom: 0;
}

.font-small {
    font-size: .9rem;
}

.link-coonatra:hover {
    text-decoration: none;        
}

.bg-dark-30 {
    background: rgb(0, 0, 0, .4);
}