<footer class="page-footer text-white bg-dark font-small blue mt-5 pt-3">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase text-success">Pie de página</h5>
                <p>Ejemplo de contenido: </p>
                <p>Términos | Privacidad | Seguridad | Estado | Ayuda | Contáctanos</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-6 mb-md-0 mb-3">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-success" href="#">Link 1</a>
                    </li>
                    <li>
                        <a class="text-success" href="#">Link 2</a>
                    </li>
                    <li>
                        <a class="text-success" href="#">Link 3</a>
                    </li>
                    <li>
                        <a class="text-success" href="#">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center bg-dark-40 py-3">&copy; <span>{{ YearDate }}</span> Copyright:
        <a href="#" class="text-success link-coonatra"> Página en representación de COONATRA</a>
    </div>
    <!-- Copyright -->
</footer>