<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <p class="display-3 text-center text-warning">
        <i class="material-icons font-2">info</i>
        Acceso no autorizado
      </p>
      <div class="text-center">
        <p class="text-center text-uppercase text-warning font-weight-bold code-error l-spacing-5">
          <i class="material-icons font-2 d-block">http</i>
          Código de error: 401
        </p>
        <p class="lead">Has intentado acceder a un recurso sin tener la autorización.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="non-selectable">
        <img src="../../../assets/img/403.png" class="d-block mx-auto img-fluid" draggable="false" alt="403">
      </div>
      <div class="mx-auto mt-3 px-2 text-center">
        <p class="lead text-center p-3">No puedes acceder a este sitio</p>

        <a [routerLink]="['/sign-in']" class="btn px-3 pt-1 pb-2 btn-raised btn-primary">
          <i class="material-icons m-t-6px">
            lock
          </i>
          <!-- Condicional: si está logueado, text: 'Regresar', si no, "iniciar sesión" -->
          Inciar sesión
        </a>
      </div>
    </div>
  </div>
</div>