<app-navbar></app-navbar>

<div class="container d-block animated fadeIn p-t-7 mb-5" style="position: absolute; bottom: 3em;">
    <div class="jumbotron jumbotron-fluid animated fast">
        <div class="container">
            <h1 class="display-3">Coonatra - reportes</h1>
            <p class="ml-3 p-2 lead animated">Aplicación de reportes sobre vehículos</p>
        </div>
    </div>

    <div class="row" *ngIf="userClaims">
        <div class="col sm-12">
            <div class="card">
                <div class="card-content">
                    <span>Username :{{ userClaims.UserName }}</span>
                    <br>
                    <span>Email : {{ userClaims.Email }}</span>
                    <br>
                    <span>Full Name : {{ userClaims.FirstName }} {{ userClaims.LastName }}</span>
                    <br>
                    <span>Logged On : {{ userClaims.LoggedOn }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->